<div class="part-info">
  <p><strong>Part Type:</strong> <%= part.part_type %></p>
  <p><strong>Brand:</strong> <%= part.brand %></p>
  <p><strong>Model:</strong> <%= part.model %></p>
  <p><strong>Year:</strong> <%= part.year %></p>
  <p><strong>Bike:</strong> <%= part.bike.make %> <%= part.bike.model %></p>
</div>