<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zBikeGarage</title>
</head>

<style>
body {
  background-image: url(<%= asset_path "trail.jpg" %>);
}
</style>

  <body>
    <header>
    <%= render 'layouts/header' %>
    </header>

    <nav>
    <%= render 'layouts/navbar' %>
    </nav>

    <div class="add-ride">
      <h1>Add Components</h1>
        <div class="container">
          <%= render "form", part: @part %>
        </div>
    </div>

    <div class="sidebar-container-right">
      <%= render 'layouts/sidebarright' %>
    </div>

    <div class="sidebar-container-left">
      <%= render 'layouts/sidebarleft' %>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>