<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <style>
    body {
      background-image: url(<%= asset_path "closed.jpg" %>);
    }

    .forgot-box {
      width: 350px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      text-align: center;
    }

    .field {
      margin: 10px 0;
      text-align: left;
      width: 100%;
    }

    .actions {
      text-align: center;
    }
  </style>
  
</head>
<body>
  <header>
    <%= render 'layouts/header' %>
  </header>
<div class="forgot-box">
<h2>Forgot your password?</h2>

<div class="container">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
</div>


<%= render "devise/shared/links" %>
</div>

<footer>
  <p><span style="color: black">zBikeGarage</span></p>
</footer>

</body>
</html> 
