<div class="ride-info">
  <p><strong>Date:</strong> <%= ride.date %></p>
  <p><strong>Location:</strong> <%= ride.location %></p>
  <p><strong>Miles:</strong> <%= ride.miles %></p>
  <p><strong>Hours:</strong> <%= ride.hours %></p>
  <p><strong>Bike:</strong> <%= ride.bike.make %> <%= ride.bike.model %></p>
</div>
