<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zBikeGarage</title>
</head>

<style>
    body {
      background-image: url(<%= asset_path "toolwall.jpg" %>);
    }
</style>

<body>
  <header>
    <%= render 'layouts/header' %>
  </header>

  <nav>
    <%= render 'layouts/navbar' %>
  </nav>

  
  <div class="sidebar-container-right">
    <%= render 'layouts/sidebarright' %>
  </div>

  <div class="sidebar-container-left">
    <%= render 'layouts/sidebarleft' %>
  </div>

    <% if @bikes.empty? %>
      <p><span style="color: white; font-size: 20px">You have no bikes in your garage. Add a bike to get started!</span></p>
    <% else %>
      <div class="bikes-container">
        <% @bikes.each_with_index do |bike| %>
          <div class="bike-box">
              <% if bike.bike_image.attached? %>
                <div class="bike-image">
                  <%= image_tag(bike.bike_image) %>
                </div>
              <% end %>
              <div class="bike-details">
                <p>
                <a href="<%= bike_path(bike) %>"><%= bike.year %> <%= bike.make %> <%= bike.model %> <%= bike.size %></a><br>
                <strong>Miles:</strong> <%= bike.miles %> <strong>Hours:</strong> <%= bike.hours %>
                </p>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
<footer>
  <%= render 'layouts/footer' %>
</footer>

</body>
</html> 


