<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zBikeGarage</title>
</head>

  <style>
    body {
      background-image: url(<%= asset_path "trail.jpg" %>);
    }
  </style>

    <header>
      <%= render 'layouts/header' %>
    </header>

    <nav>
      <%= render 'layouts/navbar' %>
    </nav>

  <body>
    <div class="container">
      <%= render @part %> 
      <%= link_to "Edit Component", edit_part_path(@part) %> <br>
      <%= button_to "Destroy Component", @part, method: :delete, style: "border: none; background-color: transparent; color: blue; cursor: pointer; font-family: Arial; font-size: 17px; text-decoration: underline; text-decoration-color: blue;"%>
    </div>

    <div class="sidebar-container-right">
      <%= render 'layouts/sidebarright' %>
    </div>

    <div class="sidebar-container-left">
      <%= render 'layouts/sidebarleft' %>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html> 